{% macro get_alignment(col) %}
{%- if col.fieldtype in ('Int', 'Float', 'Currency', 'Check') %} class="text-right" {% endif -%}
{% endmacro %}
{% if columns %}
	{% set max_width = '100%' if columns|length > 3 else '600px' %}
{% else %}
	{% set max_width = '600px' %}
{% endif %}
	<h3 style="margin-bottom: 20px;">{{ title }}</h3>
{% if data %}
<table class="table table-bordered text-medium" cellpadding="10" cellspacing="0" border="1" style="max-width: {{ max_width }}; margin-bottom: 20px;">
	<thead>
		<tr>
			{% for col in columns %}
			<th {{- get_alignment(col) }} style="background: #e6e6e6;">
				{{- _(col.label) -}}
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in data %}
		<tr>
			{% for col in columns %}
				{% if row[col.fieldname] == 'Total' %}
					<td {{- get_alignment(col) }}>
						{{- row[col.fieldname] -}}
					</td>
				{% else %}
					<td {{- get_alignment(col) }}>
						{{- frappe.format(row[col.fieldname], col, row) -}}
					</td>
				{% endif %}
			{% endfor %}
		</td>
		{% endfor %}
	</tbody>
</table>
{% endif %}
